body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}

.entête {
    
    display: flex;
    justify-content: space-between;
    border-bottom: solid rgb(241, 161, 56);
}

.entête video {
    height: 110px;
    width: 110px;
}

.entête p {
    margin-top: 40px;
    font-size: xx-large;
    font-family: cursive;
}

.container img {
    width: 170px;
    height: 80px;
}


.connected {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.connected:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.connected:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


    


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}



th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0056b3;
    color: white;
}

.forumContainer {
    
     
    border-radius: 20px;
    padding: 5px;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    -webkit-box-shadow : 12px 12px 28px 4px rgba(0,0,0,0.41);
    -moz-box-shadow : 12px 12px 28px 4px rgba(0,0,0,0.41);
    box-shadow: 12px 12px 28px 4px rgba(0,0,0,0.41) ;
}

.submitButton {
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    margin: 5px 260px;
}

.label {
    display: flex;
    justify-content: center;
}

.input {
    margin: 0px 40px
}

.inputTVA {
    margin: 0px 40px
}

input, select {
    padding: 0.5em 30px 7px;
}



label {
    margin-right: 1em;
}

input, select {
    padding: 0.5em;
}

button {
    padding: 0.5em 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

nav {
    
    grid-area: nav;
    border-radius: 10px;
    margin: 10px;
}

.containerImg {
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 1.2rem;
}

.containerImg img {
    width: 243px;
    height: 232px;
    border-radius: 20%;
}

.titleJus {
    z-index: 2;
    position: absolute;
    left: 46px;
    top: 23%;
    font-size: 35px;
    color: white;
    display: none;
}

.titleEau {
    z-index: 2;
    position: absolute;
    top: 23%;
    font-size: 35px;
    color: white;
    left: 28%;
    display: none;
}

.titleRose {
    z-index: 2;
    position: absolute;
    top: 23%;
    font-size: 35px;
    color: white;
    left: 47%;
    display: none;
}

.titleCafe {
    z-index: 2;
    position: absolute;
    top: 23%;
    font-size: 35px;
    color: white;
    left: 68%;
    display: none;
}

.titleSoda {
    z-index: 2;
    position: absolute;
    top: 23%;
    font-size: 35px;
    color: white;
    left: 88%;
    display: none;

}

.txtQuantite {
    position: relative;
    left: 32px;
}

.btnJus {
    position: relative;
    left: 35%;
}

.btnEau {
    position: relative;
    left: 35%;
}

.btnRose {
    position: relative;
    left: 35%
}

.btnCafe {
    position: relative;
    left: 35%
}

.btnSoda {
    position: relative;
    left: 38%;
}


.container {
    display: grid;
    height: 250vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.3fr 0.1fr;
    grid-template-areas: 
        "header header "
        "content1 content2"
        "nav nav"
        "footer footer";
    grid-gap: 0.5rem;
}

header {

    
    border-radius: 10px;
    grid-area: header;
}

#videoHeader {
   
    right: 0;
    bottom: 0; 
    max-width: 100%;
    max-height: 100%;
    
  }


.content2 {
    grid-area: content2;
    border-radius: 10px;
    height: 395px;
    overflow: auto;
    -webkit-box-shadow : 12px 12px 28px 4px rgba(0,0,0,0.41);
    -moz-box-shadow : 12px 12px 28px 4px rgba(0,0,0,0.41);
    box-shadow: 12px 12px 28px 4px rgba(0,0,0,0.41) ;
}

nav {
    grid-area: nav;
    border-radius: 10px;
    
}

.productContent {
    display: flex;
    justify-content: space-around;
}

footer {
    display: flex;
    justify-content: center;
    opacity: 30%;
    border-top: #000000 solid 1px;
    margin-top: 50px;
}

@media screen and (max-width: 780px) {
    body {
        flex-direction: column;
    }
}