body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}

#background-video {
    height: 290%;
    width: 100%;
    object-fit: cover; 
    position:  absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    }



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0056b3;
    color: white;
}

.content1 {
    grid-area: content1;
}

.forumContainer {
    
     
    border-radius: 5px;
    padding: 5px;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    -webkit-box-shadow : 12px 12px 28px 4px rgba(0,0,0,0.41);
    -moz-box-shadow : 12px 12px 28px 4px rgba(0,0,0,0.41);
    box-shadow: 12px 12px 28px 4px rgba(0,0,0,0.41) ;
    width: 510px;
}

.submitButton {
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    margin: 5px 260px;
}

.label {
    display: flex;
    justify-content: center;
}

.input {
    margin: 0px 40px
}

input, select {
    padding: 0.5em 30px 7px;
}


label {
    margin-right: 1em;
}

input, select {
    padding: 0.5em;
}

button {
    padding: 0.5em 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.container {
    display: grid;
    height: 250vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr 0.1fr;
    grid-template-areas: 
        "header header "
        "content1 content1"
        "nav nav"
        "content2 content2"
        "footer footer";
    grid-gap: 0.5rem;
}

header {

    
    border-radius: 10px;
    grid-area: header;
}

#videoHeader {
   
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    
  }


.content2 {
    border: solid black 3px;
    grid-area: content2;
    border-radius: 10px;
}

nav {
    border: solid black 3px;
    grid-area: nav;
    border-radius: 10px;
}

.containerImg {
        display: flex;
    overflow:scroll;
    grid-row: 3;
    grid-column: 1 / span 2;
    margin-top: 20px;
    justify-self: unset;
    gap: 20px;
}

.childContainer {
    position: relative;
  display: inline-block;

}

img {
    width: 243px;
    height: 232px;
    border-radius: 20%;
}
/************* text + couleur +slide produit ******************/

.petitdejeuner {
    z-index: 2;
    position: absolute;
    left: 46px;
    top: 9%;
    font-size: 35px;
    color: red;
    display: none;
}

.expresso {
    z-index: 2;
    position: absolute;
    top: 20%;
    font-size: 35px;
    color:red;
    left: 20%;
    display: none;
}

.caffeLatte {
    z-index: 2;
    position: absolute;
    top: 19%;
    font-size: 35px;
    color: red;
    left: 15%;
    display: none;
}

.Eau {
    z-index: 2;
    position: absolute;
    top: 19%;
    font-size: 35px;
    color:red;
    left: 37%;
    display: none;
}

.Fanta{
    z-index: 2;
    position: absolute;
    top: 19%;
    font-size: 35px;
    color:red;
    left: 30%;
    display: none;


}
.Cocacola{
    z-index: 2;
    position: absolute;
    top: 9%;
    font-size: 35px;
    color:red;
    left: 33%;
    display: none;
}
.Ricard{
    z-index: 2;
    position: absolute;
    top: 19%;
    font-size: 35px;
    color:red;
    left: 28%;
    display: none;
}
.Limoncello{
    z-index: 2;
    position: absolute;
    top: 19%;
    font-size: 35px;
    color:red;
    left: 12%;
    display: none;
}
.Bacardi{
    z-index: 2;
    position: absolute;
    top: 19%;
    font-size: 35px;
    color:red;
    left: 21%;
    display: none;
    
}

/*$$$$$$$$$$$$***************************/

.txtQuantite {
    position: relative;
    left: 32px;
}
/***************** button des Détails ***************************/
.btnPetitDej {
    position: relative;
    left: 35%;
}

.btnexpresso {
    position: relative;
    left: 35%; 
}

.btncaffeLatte {
    position: relative;
    left: 35%
}

.btnEau {
    position: relative;
    left: 35%
}

.btnFanta{
    position: relative;
    left: 38%;
}

.btnCocacola {
    position: relative;
    left: 38%;
}
.btnRicard{
    position: relative;
    left: 38%;
}
.btnLimoncello{
    position: relative;
    left: 38%;
}
.btnBacardi{
    position: relative;
    left: 38%;
}


footer {
    border: solid black 3px;
    grid-area: footer;
    border-radius: 10px;
}
/**************** sezione scrittura animata *************/
h1{
    position: absolute;
    top:0.5%;
    right: 0%;
    color:blanchedalmond;
    font-size: 5em;
    letter-spacing: 0.1em;
    font-family:serif
    
    
}
h1 span{
    opacity: 0;
    display: inline-block;
    animation: animate 5s linear forwards;
}
@keyframes animate{
    0%{
        opacity:0;
        transform: rotateY(90deg);
        filter:blur(10px)
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}

