body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
}




main {
    margin: 2em;
    padding-left: 25px;
    width: 600px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0056b3;
    color: white;
}

.forumContainer {
    border-radius: 20px;
    padding: 5px;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    -webkit-box-shadow : 12px 12px 28px 4px rgba(0,0,0,0.41);
    -moz-box-shadow : 12px 12px 28px 4px rgba(0,0,0,0.41);
    box-shadow: 12px 12px 28px 4px rgba(0,0,0,0.41) ;
}

.submitButton {
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
}

.label {
    display: flex;
    justify-content: center;
}

.input {
    margin: 0px 40px
}

form {
    background-color:  #e2ce5b ;
    border-radius: 20px;
    padding: 10px;
    
}

label {
    margin-right: 1em;
}

input, select {
    padding: 0.5em;
}

button {
    padding: 0.5em 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.container {
    display: grid;
    height: 250vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.3fr 0.1fr;
    grid-template-areas: 
        "header header "
        "content1 content2"
        "nav nav"
        "footer footer";
    grid-gap: 0.5rem;
}

header {

    border: solid black 3px;
    border-radius: 10px;
    grid-area: header;
}

#videoHeader {
   
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    
  }

.content1 {
    border: solid black 3px;
    grid-area: content1;
    border-radius: 10px;
}

.content2 {
    border: solid black 3px;
    grid-area: content2;
    border-radius: 10px;
}

nav {
    border: solid black 3px;
    grid-area: nav;
    border-radius: 10px;
}

footer {
    border: solid black 3px;
    grid-area: footer;
    border-radius: 10px;
}



